/* Search private styles */
.result {
  margin-bottom: 30px;
  padding: 30px;
}

.word-wrap {
  word-wrap: break-word;
  min-height: 66px;
}
.line-through{
  text-decoration: line-through;
}

a {
  text-decoration: none;
}


.block{
  padding:20px;
}
